<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <tr>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
        </tr>
        <tr th:each="subject : ${subject}" >
            <td>
                <span th:text="${subject.id}"></span>
            </td>
            <td>
                <span th:text="${subject.name}"></span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>